@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lexend+Deca:wght@100..900&display=swap');
*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
body{
    background-color: hsl(233, 47%, 7%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    background-color: hsl(244, 38%, 16%);
}
.image{
    position: relative;
    height: 100%;
    width: max-content;
}
.image img{
    /* width: 100%; */
    height: 100%;
    object-fit: cover;
}
.image::after{
position: absolute;
content:"";
height: 100%;
width: 100%;
top: 0;
left: 0;
background-color: hsl(277, 64%, 61%);
mix-blend-mode: multiply;
opacity: 0.75;
}
.textbox h2{
    color: hsl(0, 0%, 100%);
}
.textbox span{
    color: hsla(0, 0%, 100%, 0.75);
}
.stats{
    display: flex;
    justify-content: space-between
}
.a,.b, .c{
    color: hsl(0, 0%, 100%);
}
.stats p{
color: hsla(0, 0%, 100%, 0.6);
}